<!-- <button (click)="getSearchResults()">
  Search
</button>
<button (click)="transcribeAudioFile()">
  Transcribe Audio
</button> -->
<h2> Search existing transcriptions! </h2>
<form [formGroup]="searchform" (ngSubmit)="getSearchResults()">
  <table>
      <tr>
        <td>Search database by filename:</td>
        <td>
          <input type="text" size="30" formControlName="searchterm"/>
        </td>
      </tr>
      <tr>
          <td>
              <button type="submit"> Search </button>
          </td>
      </tr>
  </table>
</form>

<h2> Transcribe your audio file! </h2>
<!-- <form [formGroup]="uploadform" (ngSubmit)="transcribeAudioFile()" enctype="multipart/form-data">
	<table>
		<tr>
			<td>Transcribe an MP3 file:</td>
      <td>
        <input type="file" size="30" formControlName="file"/>
      </td>
		</tr>
		<tr>
			<td></td>
			<td>
        <button type="submit" [disabled]="uploadform.invalid"> Transcribe </button>
			</td>
		</tr>
	</table>
</form> -->

<button type="button" [routerLink]="['/']">Back</button>
