<section>
  <h2> Search existing transcriptions </h2>

  <form [formGroup]="searchform" (ngSubmit)="getSearchResults()">
    <table>
      <tr>
        <td>
          Search database by filename:
        </td>
        <td>
          <input type="text" size="30" formControlName="searchterm" placeholder="Sample 1.mp3"/>
          <button type="submit" [disabled]="searchform.invalid"> Search </button>
        </td>
      </tr>
    </table>
  </form>
</section>

<br>

<section>

  <h2> Transcribe your audio file </h2>

  <div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      Drag a MP3 here, or upload a file.
      <button type="button" (click)="openFileSelector()">Browse Files</button>
    </ng-template>
  </ngx-file-drop>
  <p [hidden]=isAudioFileValid style="color:crimson">Audio file is not valid.</p>
  <div class="upload-table">
    <table class="table">
      <thead>
        <tr>
          <th>Uploaded files:</th>
        </tr>
      </thead>
      <tbody class="upload-name-style">
        <tr *ngFor="let item of files; let i=index">
          <td><strong>{{ item.relativePath }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</section>

<br>
<section>
  <button type="button" [routerLink]="['/']">Back</button>
  <button type="button" [routerLink]="['/transcriptions']">See All Transcriptions</button>
</section>
