<h2> Search existing transcriptions </h2>
<form [formGroup]="searchform" (ngSubmit)="getSearchResults()">
  <table>
      <tr>
        <td>
          Search database by filename:
        </td>
        <td>
          <input type="text" size="30" formControlName="searchterm" placeholder="Sample 1"/>
          <button type="submit" [disabled]="searchform.invalid"> Search </button>
        </td>
      </tr>
  </table>
</form>

<h2> Transcribe your audio file </h2>
<form [formGroup]="uploadform" (ngSubmit)="transcribeAudioFile()" enctype="multipart/form-data">
	<table>
		<tr>
			<td>Transcribe an MP3 file:</td>
      <td>
        <input type="file" size="30" formControlName="file"/>
        <button type="submit" [disabled]="uploadform.invalid">Transcribe an mp3</button>
      </td>
		</tr>
    <tr>
      <td></td>
      <td>
        <p [hidden]=isAudioFileValid>Audio file is not valid.</p>
      </td>
    </tr>
	</table>
</form>

<button type="button" [routerLink]="['/']">Back</button>
<button type="button" [routerLink]="['/transcriptions']">See All Transcriptions</button>
